body {
    background: -moz-linear-gradient(top,  rgba(212,215,216,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,215,216,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(212,215,216,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(212,215,216,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(212,215,216,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(212,215,216,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d7d8', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

* {
    font-family: helvetica;
    color: #333;
    margin: 0px;
    padding: 0px;
}

.player .avatar {
    padding: 10px;
}

    .player .avatar img {
        width: 50px;
        height: 50px;
        background-color: #666;
    }

.player .question {
    display: none;
}

.tags {
    margin-bottom: 5px;
}

.tags li {
    display: inline-block;
    padding: 2px 4px;
    font-size: 10px;
    border: 2px solid #456A52;
    border-radius: 5px;
    background-color: #EAEAE5;
    cursor: pointer;
}

.tags .selected {
    background-color: #86e6b7;
    color: #333;
}