<html>
    <head>
        <title>Match Stats</title>
        <link rel="stylesheet" href="/static/css/match/stats.css" type="text/css" media="screen" />
    </head>
    <body>
        <div class="content">
            <h1>Match Stats</h1>
            {% for team in match.teams %}
                <div class="team">
                    <p>{{ team.name }}: {{ team.score }}</p>
                    <div class="players">
                        {% for player_stats in team.players %}
                            {% set player = player_stats.player %}
                            {% set stats = player_stats.stats %}
                            {% set name = player.first + ' ' + player.last %}
                            <div class="player"
                                 data-num-correct="{{ stats.correct.total }}"
                                 data-num-incorrect="{{ stats.incorrect.total }}"
                                 data-num-total="{{ stats.total }}"
                                 data-percent-correct="{{ stats.percent }}">
                                <h3>
                                    <span class="name">{{ name }}</span>
                                    <span class="stats">
                                        {{ stats.correct['total'] }} / {{ stats.total }} ({{ stats.percent }}%)
                                    </span>
                                </h3>
                                <div class="flot pie"></div>
                                <div class="flot tags"></div>

                                <table class="tag-data">
                                    <tr class="correct">
                                        {% for tag, num_correct in tag_stats[player._id].correct.iteritems() %}
                                            <td class="name" data-tagname="{{ tag }}" data-xval="{{ tag_to_x_map[player._id][tag] }}">{{ num_correct }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr class="incorrect">
                                        {% for tag, num_incorrect in tag_stats[player._id].incorrect.iteritems() %}
                                            <td class="name" data-tagname="{{ tag }}" data-xval="{{ tag_to_x_map[player._id][tag] }}">{{ num_incorrect }}</td>
                                        {% endfor %}
                                    </tr>
                                </table>

                                <ul class="tag-to-xtick-mapping">
                                    {% for tag, xtick in tag_to_x_map[player._id].iteritems() %}
                                        <li data-tagname="{{ tag }}">{{ xtick }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="stats">
                <p><span>Number of questions:</span>{{ match.questions | count }}
            </div>
        </div>

        <!-- libraries -->
        <script type="text/javascript" src="/static/js/lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.flot.stack.min.js"></script>
        <script type="text/javascript" src="/static/js/match/stats.js"></script>
    </body>
</html>
