* {
    font-family: helvetica;
    color: #333;
    margin: 0px;
    padding: 0px;
}

.flot {
    display: inline-block;
    width: 300px;
    height: 150px;
}

.flot.score-history-graph {
    width: 650px;
}

.data-table {
    display: none;
}

.player {
    padding-left: 10px;
    padding-bottom: 10px;
}

.flot.tags .xAxis .ticklabel {
    font-size: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin-top: 8px;
}