* {
    font-family: helvetica;
    color: #333;
    margin: 0px;
    padding: 0px;
}

.flot {
    display: inline-block;
    width: 300px;
    height: 150px;
}

.tag-data {
    display: none;
}

.player {
    padding-left: 10px;
    padding-bottom: 10px;
}
    .player h3 {
    }