<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="/static/css/in_game.css" type="text/css" media="screen" />
    </head>
    <body>
        <div class="content">
            <h3>Welcome</h3>
            <a href="matches/new">New match</a>
        </div>

        <!-- libraries -->
        <script type="text/javascript" src="/static/js/lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/underscore-min.js"></script>
    </body>
</html>
